.product_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  width: 200px;
  height: 350px;
  border: 0.5px solid #000;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.product_image {
  width: 140px;
  height: 120px;
}
